}
.button1 {
    background: rgb(20,40,255);
}
    .button2 {
    background:  rgb(20,40,255);
}
        
        .button3 {
    background:  rgb(20,40,255);
}
            .button4 {
    background:  rgb(20,40,255);
}
            .button5 {
    background:  rgb(20,40,255);
}          
            .button6 {
    background:  rgb(20,40,255);
}          
            .button7 {
    background:  rgb(20,40,255);
}          
            .button8 {
    background:  rgb(20,40,255);
}           
            .button9 {
    background: rgb(20,40,255);
}