.button{
 padding: 6px;
    color: white;
    text-decoration: none;
    border-radius: 10px;   
}

            .button1 {
    background: rgb(20,40,255);
}
            .button2 {
    background: rgb(255,165,0);
}
        
            .button3 {
    background: rgb(255,25,5);
    
}
            .button4 {
    background: rgb(40,96,56);
}
            .button5 {
    background: rgb(128,128,128);
}          
            .button6 {
    background: rgb(160,32,240);
}          

            .button7 {
    background: rgb(20,40,255);
}
            .button8 {
    background:  rgb(20,40,255);
}
        
            .button9 {
    background:  rgb(20,40,255);
}
            .button10 {
    background:  rgb(20,40,255);
}
            .button11 {
    background:  rgb(20,40,255);
}          
            .button12 {
    background:  rgb(20,40,255);
}          
            .button13 {
    background:  rgb(20,40,255);
}          
            .button14 {
    background:  rgb(20,40,255);
}           
            .button15 {
    background: rgb(20,40,255);
}